{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archives{% endblock %}

{% block content %}
    <div class="title">Archives</div>
    <div class="title-spacing"></div>
    <ul>
    {% for article in articles %}
        <li><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="Permalink to {{ article.title|striptags }}">{{ article.title }}
           </a>
           -
           <time class="article-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
